<!-- src/app/components/user/user.component.html -->
<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Gestion de usuarios</h1>
  <button
    (click)="isCreating = true"
    class="bg-[#2C3E50] rounded-lg text-white p-2 mb-4"
  >
    Agregar usuario
  </button>
  <div
    class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-opacity duration-300 ease-in-out"
    [ngClass]="{
      'opacity-100 pointer-events-auto': isCreating,
      'opacity-0 pointer-events-none': !isCreating
    }"
    (click)="isCreating = false"
  ></div>

  <!-- 
  @if(isCreating){
  <div
    class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-all duration-500 ease-in-out"
    (click)="isCreating = false"
  ></div>

  <form
    class="flex flex-col absolute z-50 h-auto w-1/2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-transform duration-300 ease-in-out"
    (submit)="create()"
    [ngClass]="{'opacity-100 translate-y-0': isCreating, 'opacity-0 translate-y-10': !isCreating} "
  >
    <input
      type="text"
      placeholder="Nombre"
      class="p-2 mb-2 border border-gray-300"
    />
    <input
      type="email"
      placeholder="Email"
      class="p-2 mb-2 border border-gray-300"
    />
    <input
      type="password"
      placeholder="Password"
      class="p-2 mb-2 border border-gray-300"
    />
    <button class="bg-[#2C3E50] text-white p-2">Crear</button>
  </form>
  } -->

  <table class="min-w-full border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300">CI</th>
        <th class="border border-gray-300">Name</th>
        <th class="border border-gray-300">Email</th>
        <th class="border border-gray-300">Actions</th>
      </tr>
    </thead>
    @if(users){

    <tbody>
      @for(user of users; track user){

      <tr class="text-center">
        <td class="border border-gray-300">{{ user.ci }}</td>
        <td class="border border-gray-300">{{ user.name }}</td>
        <td class="border border-gray-300">{{ user.email }}</td>
        <td class="border border-gray-300 flex items-center justify-center">
          <button
            (click)="navigateToUser(user.id)"
            class="bg-blue-400 rounded-lg px-2 py-1 text-white p-1 mr-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path
                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
              />
            </svg>
          </button>
          <button
            (click)="delete(user.id)"
            class="bg-red-500 rounded-lg px-2 py-1 text-white p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 7l16 0" />
              <path d="M10 11l0 6" />
              <path d="M14 11l0 6" />
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
          </button>
        </td>
      </tr>
      }
    </tbody>
    }
  </table>
</div>
<div
  class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-opacity duration-300 ease-in-out"
  [ngClass]="{
    'opacity-100 pointer-events-auto': isCreating,
    'opacity-0 pointer-events-none': !isCreating
  }"
  (click)="isCreating = false"
></div>

<form
  class="flex flex-col absolute z-50 h-auto w-1/2 top- left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out"
  [ngClass]="{
    'opacity-100 translate-y-0': isCreating,
    'opacity-0 translate-y-10 pointer-events-none': !isCreating
  }"
  (submit)="create()"
>
  <input
    type="text"
    placeholder="Nombre"
    name="name"
    [(ngModel)]="user.name"
    class="p-2 mb-2 border border-gray-300"
  />
  <input
    type="text"
    placeholder="Carnet de identidad"
    name="ci"
    [(ngModel)]="user.ci"
    class="p-2 mb-2 border border-gray-300"
  />
  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="user.email"
    name="email"
    class="p-2 mb-2 border border-gray-300"
  />

  <button class="bg-[#2C3E50] text-white p-2">Crear</button>
</form>
