<div class="flex min-h-screen h-screen bg-gray-100">
  <!-- Sidebar -->
  <div
    class="flex flex-col h-full bg-white text-white transition-all duration-500 ease-in-out"
    [ngClass]="{
      'w-64 ': isSidebarOpen || isLargeScreen,
      'w-0': !isSidebarOpen && !isLargeScreen,
      'xl:w-64': isLargeScreen
    }"
  >
    <!-- Logo -->
    <div class="px-6 py-4 bg-inherit">
      <h1 class="text-lg font-bold text-black">Gymplus - mparde</h1>
    </div>
    <!-- Menu -->
    <nav class="flex-1 px-4 py-2">
      <ul>
        <li class="mb-4">
          <a
            href="dashboard/users"
            class="flex items-center p-2 text-base font-medium text-gray-800 rounded hover:bg-gray-700 hover:text-white transition duration-300 ease-in-out"
          >
            <span>🧑🏼‍💻</span>
            <span class="ml-2">Usuarios</span>
          </a>
        </li>
        <li class="mb-4">
          <a
            href="#"
            class="flex items-center p-2 text-base font-medium text-gray-800 rounded hover:bg-gray-700 hover:text-white transition duration-300 ease-in-out"
          >
            <span>📊</span>
            <span class="ml-2">Reportes</span>
          </a>
        </li>
        <li class="mb-4">
          <a
            href="#"
            class="flex items-center p-2 text-base font-medium text-gray-800 rounded hover:bg-gray-700 hover:text-white transition duration-300 ease-in-out"
          >
            <span>📦</span>
            <span class="ml-2">Inventario</span>
          </a>
        </li>
        <li class="mb-4">
          <a
            href="dashboard/config"
            class="flex items-center p-2 text-base font-medium text-gray-800 rounded hover:bg-gray-700 hover:text-white transition duration-300 ease-in-out"
          >
            <span>🔧</span>
            <span class="ml-2">Configuracion</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <div class="flex-1 bg-gray-100">
    <!-- Toggle button (hidden on screens >= 1366px) -->
    <button
      class="absolute items-center justify-center ml-auto mt-[40vh] -translate-x-3 p-2 bg-gray-300 text-black rounded-full xl:hidden transition duration-500 ease-linear transform hover:scale-105"
      [ngClass]="{
        'rotate-180': isSidebarOpen
      }"
      (click)="toggleSidebar()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-layout-sidebar-left-expand"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M18 3a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-12a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h12zm0 2h-9v14h9a1 1 0 0 0 .993 -.883l.007 -.117v-12a1 1 0 0 0 -.883 -.993l-.117 -.007zm-4.387 4.21l.094 .083l2 2a1 1 0 0 1 .083 1.32l-.083 .094l-2 2a1 1 0 0 1 -1.497 -1.32l.083 -.094l1.292 -1.293l-1.292 -1.293a1 1 0 0 1 -.083 -1.32l.083 -.094a1 1 0 0 1 1.32 -.083z"
        />
      </svg>
    </button>

    <div class="p-6 bg-gray-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
