<div class="flex min-h-screen bg-gray-100">
  <!-- Sidebar -->
  <app-sidebar
    [isOpen]="isSidebarOpen"
    [isLargeScreen]="isLargeScreen"
    [menuItems]="menuItems"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar>
  
  <!-- Contenido principal con margen izquierdo cuando el sidebar está abierto -->
  <div class="flex flex-col flex-1 items-center bg-gray-100 transition-all duration-300"
       [ngStyle]="{'margin-left': isSidebarOpen ? '16rem' : '0', 'width': isSidebarOpen ? 'calc(100% - 16rem)' : '100%'}">
    <!-- Botones para cambiar rol (solo para pruebas) -->
    <div class="flex gap-2 justify-center p-4 w-full">
      <button 
        *ngFor="let role of roles"
        (click)="changeRole(role.value)"
        class="px-4 py-2 text-white rounded"
        [ngClass]="{
          'bg-blue-500': currentRole === role.value,
          'bg-gray-500': currentRole !== role.value
        }"
      >
        Ver como {{ role.label }}
      </button>
    </div>

    <div class="flex-1 p-6 w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
