<ng-container *ngIf="data">
  <div class="w-full p-6 my-4 bg-white rounded-lg shadow-lg">
    <div
      class="flex items-center justify-between gap-2 cursor-pointer select-none"
    >
      <div
        class="flex items-center justify-center gap-2"
        (click)="toggleChildren()"
        (keydown.enter)="toggleChildren()"
        tabindex="0"
      >
        <app-icon-loader
          *ngIf="data.icon"
          iconName="{{ data.icon }}"
        ></app-icon-loader>
        <ng-container *ngIf="data.title">
          <h1 class="text-2xl font-semibold">
            {{ data.title }}
          </h1>
        </ng-container>
        <ng-container
          *ngIf="(data.children && data.children.length > 0) || data.content"
        >
          <div class="flex items-center cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="text-white transition-all duration-150 ease-linear delay-75 rounded-full icon icon-tabler icons-tabler-outline icon-tabler-plus"
              [ngClass]="{
              'rotate-45 bg-red-500': isOpen,
              'bg-primary': !isOpen,
            }"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="data.Buttons && data.Buttons.length > 0">
        <div class="flex gap-2">
          <ng-container *ngFor="let button of data.Buttons">
            <div class="flex flex-shrink">
              <app-cards-component-button [data]="button" />
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="data.description">
      <p
        (click)="toggleChildren()"
        (keydown.enter)="toggleChildren()"
        tabindex="0"
        class="flex items-center w-full gap-2 mt-2 ml-3 text-xs text-gray-600 select-none lg:w-3/4"
      >
        <app-icon-loader
          *ngIf="data.descriptionIcon"
          iconName="{{ data.descriptionIcon }}"
        ></app-icon-loader>
        {{ data.description }}
      </p>
    </ng-container>

    <div
      class="flex flex-col w-full overflow-hidden transition-all duration-300 ease-in-out"
      [ngClass]="{
        'max-h-0 opacity-0': !isOpen,
        'max-h-screen opacity-100': isOpen
      }"
    >
      <ng-container *ngIf="data.children && data.children.length > 0">
        <ng-container *ngFor="let child of data.children">
          <app-cards-component [data]="child"></app-cards-component>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="data.content">
        <app-cards-component-content
          [data]="data.content"
        ></app-cards-component-content>
      </ng-container>
    </div>
  </div>
</ng-container>
