<ng-container *ngIf="data">
  <div
    class="flex flex-col items-start justify-center w-full p-5 text-gray-800 rounded-lg"
  >
    <ng-container *ngIf="data.title">
      <h1 class="text-sm italic font-bold select-none">{{ data.title }}</h1>
    </ng-container>
    <ng-container *ngIf="data.description">
      <p
        class="flex items-center w-full gap-2 mt-2 ml-3 text-xs text-gray-600 select-none lg:w-3/4"
      >
        {{ data.description }}
      </p>
    </ng-container>
    <ng-container *ngIf="data.isAvailable && data.isAvailable !== undefined">
      <p
        class="flex items-center w-full gap-1 ml-3 text-sm select-none text-alert-success"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M9 12l2 2l4 -4" />
        </svg>
        disponible
      </p>
    </ng-container>
    <ng-container *ngIf="!data.isAvailable && data.isAvailable !== undefined">
      <p
        class="flex items-center w-full gap-1 ml-3 text-sm select-none text-alert-error"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M9 12l2 2l4 -4" />
        </svg>
        no disponible
      </p>
    </ng-container>

    <ng-container *ngIf="data.table">
      <div class="w-full p-2 overflow-y-hidden">
        <table
          class="w-full text-center bg-white border border-gray-200 rounded-lg shadow-lg table-auto"
        >
          <thead class="bg-gray-200">
            <tr>
              <ng-container *ngFor="let header of data.table.headers">
                <th
                  class="px-4 py-2 text-sm font-medium tracking-wider text-center text-gray-900 uppercase"
                >
                  {{ header.label }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data.table.data">
              <ng-container *ngFor="let header of data.table.headers">
                <td class="px-4 py-2 whitespace-nowrap">
                  {{ getRowValue(row , header.key) }}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- <h1 *ngIf="data.title" class="text-secondary-3">{{ data.title }}</h1>
    <ng-container *ngIf="data.description">
      <p class="text-sm italic text-gray-400">
        {{ data.description }}
      </p>
    </ng-container>
    @if(data.isAvailable){

    <p class="flex w-full text-alert-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
        <path d="M9 12l2 2l4 -4" />
      </svg>
      Service is available
    </p>
    } @else {
    <p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
        <path d="M9 12l2 2l4 -4" />
      </svg>
      Service is not available
    </p>
    } -->
