<ng-container *ngIf="data">
  <div class="relative inline-block group">
    <button
      class="flex items-center justify-center rounded-lg px-2 text-xs py-1 transition-colors duration-150 ease-linear"
      [ngClass]="[
        data.color || 'bg-primary',
        data.textcolor || 'text-white',
        data.hovercolor || 'hover:bg-gray-950',
        data.hovertextcolor || 'hover:text-white',
        data.disabled ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'
      ]"
      [disabled]="data.disabled"
      (click)="data.action()"
    >
      <app-icon-loader
        *ngIf="data.icon"
        iconName="{{ data.icon }}"
      ></app-icon-loader>

      <span *ngIf="data.title">{{ data.title }} </span>
    </button>

    <div
      class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-32 bg-gray-700 text-white text-sm rounded-lg p-2 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
      *ngIf="data.tooltip"
    >
      {{ data.tooltip }}
    </div>
  </div>
</ng-container>
