<ng-container *ngIf="data">
  <div class="relative inline-block group">
    <button
      class="flex items-center justify-center px-2 py-1 text-xs transition-colors duration-150 ease-linear rounded-lg"
      [ngClass]="[
        getStyles().color,
        getStyles().textcolor,
        getStyles().hovercolor,
        data.disabled ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'
      ]"
      [disabled]="data.disabled"
      (click)="data.action()"
    >
      <app-icon-loader
        *ngIf="data.icon"
        [iconName]="data.icon"
      ></app-icon-loader>
      <span *ngIf="data.title">{{ data.title }}</span>
    </button>

    <div
      class="absolute w-32 p-2 mb-2 text-sm text-white transition-opacity duration-300 ease-in-out transform -translate-x-1/2 bg-gray-700 rounded-lg opacity-0 bottom-full left-1/2 group-hover:opacity-100"
      *ngIf="data.tooltip"
    >
      {{ data.tooltip }}
    </div>
  </div>
</ng-container>
